.Popup_Item {
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 500;
    }

    .modal {
        overflow: hidden;
        background: #BED3DC;
        border-radius: 15px;
        font-size: medium;
        // width: 500px;
        // height: 420px;
        width: 45%;
        height: 40vw;
        /* display: none; */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;

        .modalContent {
            overflow-y: scroll;
            height: 100%;

            .closeDiv {
                display: flex;
                justify-content: right;

                .close {
                    cursor: pointer;
                    margin-right: 5%;
                    text-decoration: none;
                    font-size: 2vw;
                }
            }

            .categoryDiv {
                /* background-color: #007bff; */
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0 5%;

                .category {
                    /* display: inline-block; */
                    font-size: 1.5vw;
                    font-weight: 600;
                    background-color: white;
                    color: #2A5A70;
                    /* width: calc(33.33% - 10px); */
                    width: 30%;
                    margin: 3% 0;
                    cursor: pointer;
                    padding: 2% 0;
                    text-align: center;
                    border-radius: 10px;
                    /* transition: background 0.3s; */
                }

                .category.selected {
                    background: #3b5672;
                    color: white;
                }
            }

            .button-container {
                margin-top: 2%;
                display: flex;
                justify-content: center;

                >a>button {
                    font-size: 1.5vw;
                    background-color: #4A859F;
                    color: white;
                    // padding: 5px 20px;
                    padding: 0.5vw 3vw;
                    border: none;
                    border-radius: 20px;
                }
            }
        }
    }

    .modal.active,
    .overlay.active {
        display: block;
    }

    @media (max-width: 376px) {
        .modal {
            width: 80vw;
            height: 40%;

            .modalContent {
                .closeDiv {
                    .close {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }

                .categoryDiv {
                    .category {
                        font-size: 12px;
                    }
                }

                .button-container{
                    >a>button {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}