._schCom {
    margin: 0;
    padding: 0;

    display: flex;

    .row {
        margin: 0;
        padding: 0;
        width: 100%;

    }

    .border-bottom-primary {
        border-bottom: 1px solid $primary;
    }

    a {
        text-decoration: none;
    }

    .SchComArea {
        border: 1px solid $primary;
        box-shadow: 1px 1px 1px 1px #909090;
        // padding-bottom: 400px;
        height: 100vh;
        overflow-y: scroll;


        .SchComImage {
            padding: 20px 20px 0px 20px;
            .planName{
                margin-right: 80px;
                h2{
                    color: $primary;
                    font-size: 26px;
                    font-weight: bold;
                }
                p{
                    color: #78AEC6;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0;
                }
            }

            .DateBox {
            
                .dayList {
                    width: 100%;
                    font-size: 20px;
                    font-weight: bold;
                    align-items: flex-end;
            

                    li {
                        margin-right: 26px;
                        color: #78aec6;
                        
                    }
                    li:hover{
                        cursor: pointer;
                    }
                    .currentDay {
                        font-size: 26px;
                        color: $primary;
                    }
                }

         

            }

            .todayInfo {
                width: 100%;
                text-align: right;
                text-align: end;
                color: $secondary;
                // margin-right: 20px;

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }


    }


        .co-editor {
      .editor {
        position: relative;
        margin-right: 8px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
        }
        .userName {
          visibility: hidden;
          width: 120px;
          background-color: $primary;
          color: #ffffff;
          text-align: center;
          border-radius: 8px;
          padding: 5px;
          position: absolute;
          z-index: 10;
          bottom: 42%;
          left: 250%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
      .editor:hover .userName {
        visibility: visible;
        opacity: 1;
      }
    }



    .cardList {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .card {
            border: 1px solid $danger;


            .card-body {
                padding: 1.5rem;

                .card-title {

                    font-size: 26px;
                    font-weight: bold;
                    border-left: 5px solid $danger;
                    padding-left: 10px;
                    -webkit-line-clamp: 1;
                }

                .card-text {
                    font-size: 16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .btn-outline-secondary {
        font-size: 26px;
    }

    .btn-outline-secondary:hover {
        color: #FFFFFF;
    }


}

.mapArea {
    overflow: hidden;
    padding: 0;
    border: none;
    gmp-map {
      height: 100vh;
      width: 100%;
    }
}

// .btn{
//   border: none;
//   padding: 0;
//   width: 50px;
//   height: 50px;
//   line-height: 50px;
//   border-radius:50%;
// }
// .bi{
//   font-size: 50px;
//   border: none;
//   color: $success;
// }
// .bi:hover{
//     color: #FFFFFF;
// }