body,
html {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
._schMore{
    background-color:#E7E7E7 ;
}


h1 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
  }
  h6 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  // 最上方大圖
.SchtopImage{

    position: relative;
    // top: 90px;
    width: 100%;
    height: 300px;
    // overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    };
    .SchTopText{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
}
aside{
    height: 100%;
    
}


// 下方的大容器
.SchBottomInfo{
    position: relative;
    // top: 90px;
    width:100%;
    margin: 0;
    // padding-bottom: 90px;
}
// 左側選取方塊們


.selectBlock{
    
    width: 85%;
    border: 1px solid $danger;
    border-radius: 25px;
    background-color: white;
    
    .siteType{
        // background-color: antiquewhite;
        padding: 20px;
    }
    .checkBody{
        padding-left: 30px;
    }
    input{
        &:checked{
            background-color: $secondary;
            border-color: $secondary;
        }
    }
}

// 右側卡片樣式
.rightCards{
    // background-color: $secondary;
    padding: 0px;
    position: relative;
}
._schMore .allCard{
    cursor: pointer;
    position: relative;
    overflow: visible;
    width: 100%;
    height: 80vh;
    border:0px ; // 消除預設白框
    border-radius: 0px;
    // background-color: #f8f9fa;

    .cardImage{
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }
    &:hover img{
        transform: scale(1.1);
    }
    .cardOverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.5); //半透明背景
        color: white;
        padding: 30px;
    }
    .btnOverlay{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bi-heart {
            color: $light;
            margin: 0;
            padding: 0 1rem;
            font-size: 1.5rem;
        }

        .bi-heart-fill {
            color: $danger;
            margin: 0;
            padding: 0 1rem;
            font-size: 1.5rem;
        }

        &:hover .bi-heart {
            color: $danger;

        }



        button {
            color: white;
            border-radius: 25px;
        }
    }
}

//modal
.modal-footer{

    .Close{

        border-radius: 50px;
        background-color: $warning;
        color: white;
    
        &:hover {
            background-color: $secondary;
            color: white;
        }

    }
    .Save{
        border-radius: 50px;
        background-color: primary;
        color: white;
    
        &:hover {
            background-color: $success;
            color: white;
        }
    }
}
