$primary: #4a859f;
$secondary: #e2ad25;
$success: #5d623b;
$danger: #a35840;


body,
html {
    box-sizing: border-box;
    font-family: "Lato", "Noto Sans TC", sans-serif;
    margin: 0 auto;
    padding: 0px;
    // background-color: #e2ad25;
    // width: 100%;
    // height: 100%;


}



.shcInfo {
    width: 100%;
    height: auto;
}

.HeroBox {
    position: relative;

    .TopHero {
        position: relative;

        h1 {
            position: absolute;
            z-index: 500;
            top: 90px;
            left: 1.5rem;
            font-size: 2rem;
        }

    }
}

.TopCard {
    // cursor: pointer;
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100vh;
    border: 0px; // 消除預設白框
    border-radius: 0px;
    // background-color: #f8f9fa;

    .TopcardImage {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }

    &:hover img {
        transform: scale(1.1);
    }

    .TopcardOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); //半透明背景
        color: white;
        padding: 30px;

        .card-title {
            position: absolute;
            bottom: 2rem;
            left: 0;
            margin: 1rem;
            // background-color:red
        }

        .card-subtitle {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 1rem;
            // background-color:red
        }

    }

}



// 搜尋欄
.searchOverlay2 {

    // top: 90%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid $primary;
    padding: 10px;
    border-radius: 5px;

    .input-group2 {
        width: 100%;
        justify-content: center;
    }

    #regionLabel,
    #categoryLabel2 {
        font-size: 18px;
        color: $primary;
    }

    .custom-select2 {
        // background-color: #4a2e2e;
        width: 150px;
        color: #909090;
        border: 1px solid $primary;
    }

    .input-group-append2 {
        button {
            background-color: $warning;
            color: white;
            width: 80px;
            border-radius: 22px;

            &:hover {
                background-color: $secondary;
                color: white;
            }
        }
    }
}





#SchRecommendCards {


    //行程卡片
    .SchCard {
        cursor: pointer;
        position: relative;
        overflow: visible;
        width: 100%;
        height: 80vh;
        border: 0px; // 消除預設白框
        border-radius: 0px;
        // background-color: #f8f9fa;

        .SchcardImage {
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease;
            }
        }

        &:hover img {
            transform: scale(1.1);

        }

        .cardOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); //半透明背景
            color: white;
            padding: 30px;
        }

        .btnOverlay {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bi-heart {
                color: $light;
                margin: 0;
                padding: 0 1rem;
                font-size: 1.5rem;
            }

            .bi-heart-fill {
                color: $danger;
                margin: 0;
                padding: 0 1rem;
                font-size: 1.5rem;
            }

            &:hover .bi-heart {
                color: $danger;

            }



            button {
                color: white;
                border-radius: 25px;
            }
        }
    }
}

#SchRecommendCards2 {


    //行程卡片
    .SiteCard {
        cursor: pointer;
        position: relative;
        overflow: visible;
        width: 100%;
        height: 80vh;
        border: 0px; // 消除預設白框
        border-radius: 0px;
        // background-color: #f8f9fa;

        .SchcardImage {
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease;
            }
        }

        &:hover img {
            transform: scale(1.1);

        }

        .cardOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); //半透明背景
            color: white;
            padding: 30px;
        }

        .btnOverlay {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bi-heart {
                color: $light;
                margin: 0;
                padding: 0 1rem;
                font-size: 1.5rem;
            }

            .bi-heart-fill {
                color: $danger;
                margin: 0;
                padding: 0 1rem;
                font-size: 1.5rem;
            }

            &:hover .bi-heart {
                color: $danger;

            }



            button {
                color: white;
                border-radius: 25px;
            }
        }
    }
}


.divider,
.divider2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0px 5px 20px;
    ;
}


.divider::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: $success;
    /* margin: 5px 20px; */
    margin: auto;
}

.divider2::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: $light;
    // margin: 5px 20px; 
    margin: auto;
}

//swiper

.shcInfo .swiper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

// YT崁入大小
.Yt_video {
    width: 100%;
    /* 固定寬度 */
    height: 360px;
    /* 固定高度 */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.youtube-iframe {
    width: 100%;
    height: 100%;
}


//Blog Card
.BlogBox {
    background-color: #F9F7EA;
}





.custom-card {
    border-radius: 10px;
    border-color: $danger ;
    color: $danger;
    width: auto;
    max-width: 1200px;
    /* 最大寬度限制 */
    // height: 200px;

    .custom-img {
        border-radius: 10px 0px 0px 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .custom-card {
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding: 1.5rem;
        width: auto;
        
        .card-title {
            white-space: nowrap;             /* 不換行 */
            overflow: hidden;                /* 隱藏超出部分 */
            text-overflow: ellipsis;         /* 顯示省略號 */
            margin: 0;                       /* 清除外邊距 */
            padding: 0;                      /* 清除內邊距 */
            width: auto                    /* 確保寬度為 100% */

            h6 {
                white-space: nowrap;
            }

            .date {
                white-space: nowrap;
                font-size: 8px;
                margin: 0;                       /* 清除外邊距 */
                padding: 0; 
            }

        }

        .card-text {
            color: black;
            font-size: 16px;
            
     
        }


    }



}
.Blog.card{
        
        // 這裡讓卡片 hover 時緩慢放大
        transition: transform 0.6s ease;

        &:hover {
            transform: scale(1.05); // 放大
        }

}



@media (max-width: 768px) {
    .custom-card {
        object-fit: cover;
        height: auto;

        /* 手機或平板自動調整高度 */
        .custom-img {
            border-radius: 10px 10px 0px 0px;

        }
    }

    .searchOverlay2 {
        padding: 15px;
        text-align: center;
        /* 確保內容居中 */

    }

    .input-group2 {
        display: flex;
        flex-direction: column;
        /* 讓元素垂直排列 */
        align-items: center;
        /* 垂直居中 */
        justify-content: center;
        /* 水平居中 */
        width: 100%;
        gap: 20px;
        /* 增加元素之間的間距 */
    }

    .inputRWD {
        margin: 0;
        display: flex;
        flex-direction: row;
        /* 讓 label 和 select 水平排列 */
        justify-content: center;
        /* 水平居中 */
        align-items: center;
        /* 垂直對齊 */
        width: 80%;
        /* 撐滿容器 */
        gap: 10px;
        /* 調整 label 和 select 之間的距離 */
    }

    #regionLabel,
    #categoryLabel2 {
        text-align: right;
        /* 讓 label 文字靠右，與選單對齊 */
        width: auto;
        /* 適應內容寬度 */
    }

    .custom-select,
    .custom-select2 {
        flex-grow: 1;
        /* 讓 select 撐滿剩餘空間 */
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }




}

//modal
.modal-footer {

    .Close {

        border-radius: 50px;
        background-color: $warning;
        color: white;

        &:hover {
            background-color: $secondary;
            color: white;
        }

    }

    .Save {
        border-radius: 50px;
        background-color: primary;
        color: white;

        &:hover {
            background-color: $success;
            color: white;
        }
    }
}