// @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

.searchSitePage {

    // 首頁圖片
    #hero-image {
      position: relative;
      text-align: center; 
      .overlay{
        position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* 这里的rgba可以调整透明度 */
      z-index: 1; /* 确保覆盖层在图像之上 */
      }
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0;
        // opacity: 0.8;
        // &:hover {
        //   opacity: 0.8;
        // }
      }
    }
    // 縮小後的輪播圖
     .siteCarouselItem{
      width: 100%;
      height: 90vh;
      img{
          height: 100%; /* 使圖片的高度適應父容器 */
          width: 100%; /* 使圖片的寬度適應父容器 */
          object-fit: cover; /* 保持圖片比例並填滿容器 */
      }
  }
    // 搜尋欄
  .searchOverlay {
    // position: absolute;
    // z-index: 10;
    // top: 600px;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // background-color: white;
  
    margin: 10px auto;  /* 在手機版上增加上下邊距 */
    padding: 15px;    /* 增加內距 */
    text-align: center;
    border-radius: 5px; /* 添加圓角 */
    border: 2px solid #4a859f;
  .input-group{
    flex-direction: column;/* 手機版排版為各自一行 */
    width: 100%;
    gap: 20px;
  }
  
  
   .selectItem{
    // background-color: #e7ba48;
    margin: 0;
    gap: 20px;
    width: 80%;
   }
      #regionLabel,
      #categoryLabel {
        text-align: right;
        width: auto;
        font-size: 18px;
        color: #4a859f;
      }
      // 下拉選擇框
      .custom-select {
        // background-color: #4a2e2e;
        width: 10vw;
        color: #909090;
        border: 1px solid #4a859f;
        // margin-bottom: 10px;
      }
      // 搜尋欄搜尋按鈕
      .input-group-append {
        margin: 5px;
        button {
          background-color: #e7ba48;
          color: white;
          border-radius: 25px;
          &:hover {
            background-color: $secondary;
            color: white;
          }
        }
      }
    }
    // 更多按鈕
    #moreBtn {
        border-style: none;;
      background-color: #e7ba48;
      color: white;
      width: auto;
      border-radius: 25px;
      &:hover {
        background-color:#e2ad25;
        color: white;
      }
    }
    .foodTitle{
        background-color: #4a859f;
    }
    //  標題分隔線 
    .textDivider,
    .textDivider2 {
      font-size: 30px;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 20px;
  }
  .textDivider::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: #5d623b;
    /* margin: 5px 20px; */
    margin: auto;
  }
  .textDivider2::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: $light;
    /* margin: 5px 20px; */
    margin: auto;
  }
    // 推薦區塊 景點和美食
  
  
  #recommendCards {
      #sitecardBox,
      #foodcardBox {
        background-color: #f0f0f0;
        width: 100%;
      }
      //景點卡片 美食卡片統一設定
      .allCard {
        // cursor: pointer;
        position: relative;
        overflow: visible;
        width: 100%;
        height: 90vh;
        border: 0px; // 消除預設白框
        border-radius: 0px;
        // background-color: #f8f9fa;
    
        .cardImage {
          width: 100%;
          height: 90vh;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }
        }
        &:hover img {
          transform: scale(1.1);
        }
        .cardOverlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); //半透明背景
          color: white;
          padding: 30px;
        }
        .btnOverlay {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          button {
            background-color: #4a859f;
            color: white;
            border-radius: 25px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      /* 手機版樣式 */
      .searchOverlay{
        .custom-select{
          width: 20vw;
        }
      }
      #hero-image {
        position: relative;
        text-align: center; 
        .overlay{
          position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* 这里的rgba可以调整透明度 */
        z-index: 1; /* 确保覆盖层在图像之上 */
        }
        img {
          width: 100%;
          height: 75vh;
          object-fit: cover;
          margin: 0;
          // opacity: 0.8;
          // &:hover {
          //   opacity: 0.8;
          // }
        }
      }
    }
    @media (min-width: 769px){
      .searchOverlay {
        position: absolute;
        z-index: 10;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        border: 2px solid #4a859f;
        padding: 10px;
        .input-group {
          // background-color: #909090;
          flex-direction: row; /* 網頁版排版為並列 */
          
        }
        .selectItem{
          // background-color: #e7ba48;
          margin: 0;
          width: auto;
        }
        // border-radius: 5px;
      }
    }
   
    
  }
  
  
  
  
  