.siteInfoPage{
        position: relative;
        // top: 90px;
    .topImage{
        width: 100vw;
        height: 300px;
        // overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        };
    }
    
    
    
    .bottomInfo{
        width:100%;
        margin-bottom: 30px;
    }
    // .opentime p{
    //     line-height: 2; /* 調整行高以增加可讀性 */
    // }
    
    .siteInfo{
        
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h1{
            font-family: "Noto Sans TC", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: 35px;
        }
        
        // 輪播圖
        .siteCarouselItem{
            width: 100%;
            height: 300px;
            img{
                height: 100%; /* 使圖片的高度適應父容器 */
                width: 100%; /* 使圖片的寬度適應父容器 */
                object-fit: cover; /* 保持圖片比例並填滿容器 */
            }
        }
        // 左側圖片們
        .leftImage{
            height: 100%;
            // 主圖設定
            .mainImage{
                width: 100%;
                height: 450px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            // 縮圖
            .smallImage{
                img{
                    border-radius: 0;
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                }
            }
            .thumbnail {
                cursor: pointer;
                transition: transform 0.2s;
            }
            .thumbnail:hover {
                transform: scale(1.05);
            }
        }
    }
    .divider1{
        font-size: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 0px 5px 20px; // 調整線長度
    }
    .divider1::after {
        flex: 1;
        content: '';
        padding: 1.5px; //調整線條粗細
        background-color: $danger;
        /* margin: 5px 20px; */
        margin: auto;
      }
    .rightInfo{
        // margin-top: 20px;
        .info-text{
            padding: 30px;
            border-radius: 25px;
            border: 1px solid $danger;
        }
        .infoWeb{
            a{
                word-wrap: break-word;//用於網址換行
                overflow-wrap: break-word; 
            }
        }
        .addBtn {
            margin-top: 20px;
            button {
              color: white;
              border-radius: 25px;
            }
          }
          
    }
    .detailsTitle{
            
        // background-color: aqua;
        font-size: 26px;
        font-weight: bold;
        border-left: 10px solid $danger;
        padding-left: 10px;
        margin-bottom: 29px;    
    }
    .detailsInfo{
        line-height: 2; /* 調整行高以增加可讀性 */
    }
    @media (max-width: 768px) {
        /* 在手機版樣式下添加更多的調整 */
        .siteInfo{
            
            h1{
                font-size: 28px ;
            }
        }
        .rightInfo{
            margin-top: 20px;
        }
    }
   
}
